<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - daily_blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/daily_blog.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="sidebar">
        <a href="/" class="active"><i class="fa-solid fa-house"></i>My feed</a>
        <a href="#"><i class="fa-solid fa-circle-arrow-up"></i>Most Upvoted</a>
        <a href="#"><i class="fa-solid fa-comment-dots"></i>Best discussions</a>
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i>Search</a>
    </div>

    <main role="main" class="pb-3" id="main-content">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $('.sidebar a').click(function (e) {
            $('.sidebar a').removeClass('active');
            $(this).addClass('active');
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
