@{
    var posts = (PostModel[])ViewData["posts"];
    Console.WriteLine(posts[0]?.Url);

    var post = (PostModel)ViewData["post"];
    Console.WriteLine(post?.ToString());
    var title = ViewData["title"];
}
<h1>@post?.Id</h1>
<h1>post</h1>