@{
    UserModel user = (UserModel)ViewData?["user"];
    @* Console.WriteLine(user?.Posts.Title); *@
    foreach(PostModel post in user?.Posts)
    {
        Console.WriteLine(post.Title);
    }
}
<link href="@Url.Content("Index.cshtml.css")" rel="stylesheet" type="text/css" />

<div class="row grid-container">
   <div class="row g-5 grid-row">
    <div class="col col-md-3 grid-item">Column</div>
    <div class="col col-md-3 grid-item">Column</div>
    <div class="col col-md-3 grid-item">Column</div>
    <div class="col col-md-3 grid-item">Column</div>
  </div>
  <div class="row g-5 grid-row">
    <div class="col col-md-3 grid-item">Column</div>
    <div class="col col-md-3 grid-item">Column</div>
    <div class="col col-md-3 grid-item">Column</div>
    <div class="col col-md-3 grid-item">Column</div>
  </div>
  <div class="row g-5 grid-row">
    <div class="col col-md-3 grid-item">Column</div>
    <div class="col col-md-3 grid-item">Column</div>
    <div class="col col-md-3 grid-item">Column</div>
    <div class="col col-md-3 grid-item">Column</div>
  </div>
  <div class="row g-5 grid-row">
    <div class="col col-md-3 grid-item">Column</div>
    <div class="col col-md-3 grid-item">Column</div>
    <div class="col col-md-3 grid-item">Column</div>
    <div class="col col-md-3 grid-item">Column</div>
  </div>
</div>
