@{
    UserModel user = (UserModel)ViewData?["user"];
    @* Console.WriteLine(user?.Posts.Title); *@
    foreach(PostModel post in user?.Posts)
    {
        Console.WriteLine(post.Title);
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <h1>@user.Username</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <script>
        @* console.log(@posts[0].Title); *@
    </script>
</div>
