html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  background-color: #0e1217;
}

body {
  margin-bottom: 60px;
  overflow-x: hidden;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
#main-content {
  padding-left: 250px;
  padding-right: 50px;
  /* width: 100vw; */
  background-color: #0e1217;
  height: 100vh;
}

/* .post-container {
  background-color: black;
} */

.grid-row {
  grid-column-gap: 1rem;
  display: flex;
  justify-content: center;
}

.grid-container {
  position: relative;
  text-align: center;
}

@media screen and (max-width: 967px) {
  #main-content {
    display: flex;
    justify-content: center;
    padding-left: 20px;
  }
}

.grid-container {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
  justify-content: center;
}

.grid-item {
  height: 350px;
  margin: 0;
  box-sizing: border-box;
  padding: 1.5rem;
  border: 2px solid black;
  width: 315px;
  color: #fff;
  text-align: left;
  border-radius: 2rem;
  border: 1px solid #fff;
  background-color: rgb(28, 31, 38);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.upvote-button {
  cursor: pointer;
}

.delete-btn {
  position: relative;
  top: -14px;
  right: -251px;
  border: 0;
  background: transparent;
  color: #bc6d6d;
}
